doctype html
html.
    <head>
        <title>Rythmicreads</title>
    </head>
    <body>
        <div style="background-color:#009688">
            <h1 style="text-align:center;color:white;font-size:25px;">The best match is :- </h1>
        </div>
    	<h1 style="color:brown;">#{song0}</h1>
    	
        <ul id="myUL" >
        </ul>
    </body>